# Taken from: https://github.com/lhotse-speech/lhotse/blob/master/.github/workflows/unit_tests.yml
# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: unit_tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  unit_tests:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python-version: "3.7"
            torch-install-cmd: "pip install click tabulate"
          - python-version: "3.8"
            torch-install-cmd: "pip install click tabulate"
          - python-version: "3.9"
            torch-install-cmd: "pip install click tabulate"
          - python-version: "3.10"
            torch-install-cmd: "pip install click tabulate"

      fail-fast: false

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip
        cache-dependency-path: |
          docs/requirements.txt
          setup.py
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel
    - name: Test with pytest and coverage
      run: |
        pytest --cov --forked -n auto test
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
